body { 
	height: 100%;
	width: 100%; 
	background-color: #232323;
}

*{
	font-family: Helvetica;
	font-size: 10px;
	font-weight: lighter;
	color: white;
	letter-spacing: .5em;
	text-transform: lowercase;
}
h1{
	line-height: 30px;
}
a:hover{
	background-color: #ff0000;
	transition: ease;
}
a{
	padding: 5px 20px 5px 20px;
	background-color: white;
	line-height: 60px;
	text-decoration: none;
	transition: .5s ease 2s;

}
.back{
	background-color: #232323;
}

.index{
	background-color: none;
}
iframe{
	margin-left: 20px;
	border: none;
	width: 20%;
	height: 500px;
	background-color: white;
	transform: scale(0.5);
}