html, body { 
	margin: 5%;
	height: 100%; 
	width: 100%; 
	background-color: #e3d8aa;
}

*{
	font-family: Helvetica;
	font-size: 14px;
	font-weight: lighter;
	color: white;
	letter-spacing: .5em;
}
a:hover{
	background-color: #e3d8aa;
}
a{
	background-color: white;
}