html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
}

*{
	font-family: Helvetica;
	font-size: 20px;
	color: ghostwhite;
	font-weight: bolder;
}
#maindiv{
	padding: 0 0 15% 5%;
}
a:hover{
	background-color: blue;
	opacity: .8;
	transition: all 0.5s ease;
}
a{
	background-color: white;
	transition: all 0.5s ease;
	transition-delay: .5s;
}
h2{
	margin: -50px 0 0 0; 
}