body{
	background-color: black;
}
.panel{
	position: relative;
	display: inline-block;
}
.panel > div{
	position: absolute;
	    box-sizing: border-box;
	border: 1px solid white;
}
.one{
	top: 50px;
	width: 48px;
	height: 48px;
}
.two{
	width: 48px;
	height: 72px;
}
#two2{margin-left: 48.2px}

.three{
	width: 36px;
	height: 72px;
}
#three2{margin-left: 36.2px;}
#three3{margin-left: 72.4px;}

.four{
	width: 36px;
	height: 36px;
}
#four2{margin: 0 0 0 36.2px;}
#four3{margin: 0.2px 0 0 0;}
#four4{margin:-36px 0 0 36.2px;}


.seven{
	width: 18px;
	height: 72px;
}

#seven2{margin-left: 18.2px;}
#seven3{margin-left: 36.4px;}
#seven4{margin-left: 54.6px;}
#seven5{margin-left: 72.8px;}
#seven6{margin-left: 91.0px;}
#seven7{margin-left: 109.2px;}