body{
	margin: 0;
	overflow: hidden;
	background-image: url("../../img/noise2.png");
	background-repeat: repeat;
	border: 2px solid blue;
}
/*.clearfix:after { 
	content: " "; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}*/
.ruler{
	position: fixed;
	top: 2vh;
	left: 2vw;
	width: 5in;
	height: 5in;
	background-image: url("../../img/ruler.png");
	background-repeat: no-repeat;
	z-index: 100;
}

#cursor{
	width: 16vw;
	font-family: Arial;
	font-size: 1vw;
	/*margin: -15vw 0 0 -20vw;*/
	position: absolute;
}

.container{
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	position: fixed;
	top: 0;
	left: 0;
}

.panel{
	opacity: .95;
	margin: 5in;
	position: relative;
	display: inline-block;
	z-index: 10;
}
.panel > div{
	overflow: visible;
	box-sizing: border-box;
	background-color: white;
	box-shadow: .1in .1in 0 rgba(0, 0, 0, .2),
	0.5in -0.5in 0 rgba(100, 100, 100, .1);
}
.one{
	width: 48in;
	height: 48in;
}
.two{
	width: 48px;
	height: 72px;
}
#two2{margin-left: 48.2px}

.three{
	width: 36px;
	height: 72px;
}
#three2{margin-left: 36.2px;}
#three3{margin-left: 72.4px;}

.four{
	width: 36px;
	height: 36px;
}
#four2{margin: 0 0 0 36.2px;}
#four3{margin: 0.2px 0 0 0;}
#four4{margin:-36px 0 0 36.2px;}


.seven{
	width: 18px;
	height: 72px;
}

#seven2{margin-left: 18.2px;}
#seven3{margin-left: 36.4px;}
#seven4{margin-left: 54.6px;}
#seven5{margin-left: 72.8px;}
#seven6{margin-left: 91.0px;}
#seven7{margin-left: 109.2px;}