p{
  margin: 0 0 1% 20px;
  font-family: Helvetica;
  font-size: 10px;
  text-transform: uppercase;
}
body{
  margin: 10%;
}
.nightintro{
  color: white;
}

.night{
  background-color: black;
}

.borderRed{
  border-color: red;
}

.borderWhite{
  border-color: white;
}
.borderBlack{
  border-color: black;
}

.letter{
  margin: 0px -40px -55px 0;
  float: left;
  position: relative;
  transform: scale(0.3);
}


.space{
background-color: none;
}
.box{
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 16px;
  margin-top: -16px;

}

.diagleft::before {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 16px solid red;
  transform:
  translateY(0px)
  translateX(-49px)
  rotate(45deg); 
  position: absolute;


}

.diagright::after {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 16px solid red;
  transform:
  translateY(0px)
  translateX(9px)
  rotate(-45deg); 
  position: absolute;
}

.diagboth::before {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 16px solid red;
  transform:
  translateY(0px)
  translateX(-50px)
  rotate(45deg); 
  position: absolute;
}

.diagboth::after {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 16px solid red;
  transform:
  translateY(0px)
  translateX(10px)
  rotate(-45deg); 
  position: absolute;
}

.north_{
  padding-bottom: 16px;
  border-top: none;
}
.east_{
  padding-right: 16px;
  border-right: none;
}
.south_{
  padding-bottom: 16px;
  border-bottom: none;
}
.west_{
  padding-left: 16px;
  border-left: none;
}
.north{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.east{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-top: 16px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.south{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.west{
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 16px;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.northe{
  padding-bottom: 16px;
  padding-left: 16px;
  border-left: none;
  border-bottom: none;
}
.northw{
  padding-bottom: 16px;
  padding-right: 16px;
  border-right: none;
  border-bottom: none;
}
.southe{
  padding-top: 16px;
  padding-left: 16px;
  border-left: none;
  border-top: none;
}
.southw{
  padding-top: 16px;
  padding-right: 16px;
  border-right: none;
  border-top: none;
}

.eastwest{
  padding-bottom: 16px;
  padding-top: 16px;
  border-top: none;
  border-bottom: none;
}
.none{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border: none;
}

.die{
  border-color: red;
}