@font-face {
    font-family: 'carbontyperegular';
    src: url('carbontype-webfont.eot');
    src: url('carbontype-webfont.eot?#iefix') format('embedded-opentype'),
         url('carbontype-webfont.woff') format('woff'),
         url('carbontype-webfont.ttf') format('truetype'),
         url('carbontype-webfont.svg#carbontyperegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes sen{
    0%{ 
    text-shadow: 2px 0px rgba(255,0,0,.2);
    }
    3%{ 
    text-shadow: 0px 1px 2px rgba(150,150,150,.5);
    }
    6%{ 
        text-shadow: none;
    }
}

*{
    font: 1em carbontyperegular,'Share Tech Mono', monospace;
    color:#f25;
    list-style: none; 
    margin: 3em;
    animation: sen .5s infinite linear;
    border:1px  blue;
}
body{
    filter:blur(.3px);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    margin: auto;
    width:60%;
    max-width: 400px;
}
li{
    -webkit-transform: rotate(13deg);
-moz-transform: rotate(13deg);
-o-transform: rotate(13deg);
    float:right;
}


a{
    text-decoration: line-through;   
    transition:1.5s;
}
a:hover{
    letter-spacing: .1em;
    transition: .5s;
}
a:visited{
    color:black;
}