body { 
	height: 100%;
	width: 100%; 
	background-color: #232323;
}

*{
	font-family: Helvetica;
	font-size: 10px;
	font-weight: lighter;
	color: white;
	letter-spacing: .5em;
	text-transform: lowercase;
}
p{
	line-height: 30px;
}
a:hover{
	background-color: #ff0000;
	transition: ease;
}
a{
	padding: 5px 20px 5px 20px;
	background-color: white;
	line-height: 45px;
	text-decoration: none;
	transition: .5s ease 2s;
}
.final{
	font-weight: bolder;
	color: #232323;
	clear: both;
}
.back{
	background-color: #232323;
}