*{
  font-family: Helvetica;
  font-size: 10px;
  letter-spacing: .1em;
}
p{
  margin-left: 25px;
  position: fixed;
  z-index: 100;
}
div{
  margin-left: 25px;
  margin-top: 50px;
  position: fixed;
  z-index: 100;
  width: 20%;
}
a{
  margin-left: 25px;
  top: 90%;
  text-decoration: none;
  color: silver;
  border-bottom: 1px solid silver;
  position: fixed;
  z-index: 50;
}
body{
  margin: 10% 20% 10% 15%;
  background-color: #f0f0f0;
}

video#bgvid { 
  filter:blur(5px);
  opacity: .5;
  position: fixed;
  top: 51%;
  left: 55%;
  width: auto;
  height: 145%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; 
}