*{
  font-family: Helvetica;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
p{
  margin-left: 25px;
  position: fixed;
  z-index: 100;
}
a{
  margin-left: 25px;
  top: 90%;
  text-decoration: none;
  color: silver;
  position: fixed;
  z-index: 50;
}
body{
  margin: 10% 20% 10% 15%;
  background-color: #f0f0f0;
}
html{
  border-bottom: 120px solid transparent;
}
.return{
  clear:left;
}

.aboutbuttom{
  color: silver;
  top: 85%;
  position: fixed;
  z-index: 50;
}
.letter{
  margin: 0px -40px -55px 0;
  float: left;
  position: relative;
  transform: scale(0.3);
}
.number{
  margin: 0px -40px -55px 0;
  float: left;
  position: relative;
  transform: scale(0.3);
}
.box{
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 16px;
  margin-top: -16px;
}
/*numbers and punctuations*/
.box2{
  border-color: blue;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 16px;
  margin-top: -16px;
}
.bgRed{
  background-color: red;
}
/*diagnols*/
.diagleft::before {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 36px solid red;
  transform:
  translateY(0px)
  translateX(-49px)
  rotate(45deg); 
  position: absolute;
}

.diagright::after {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 16px solid red;
  transform:
  translateY(0px)
  translateX(9px)
  rotate(-45deg); 
  position: absolute;
}
.diagboth::before {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 12px solid red;
  transform:
  translateY(0px)
  translateX(-50px)
  rotate(45deg); 
  position: absolute;
}
.diagboth::after {
  content:" ";
  width: 80px;
  height: 80px;
  border-top: 20px solid red;
  transform:
  translateY(0px)
  translateX(10px)
  rotate(-45deg); 
  position: absolute;
}

/*position*/
.north_{
  padding-top: 16px;
  border-top: none;
}
.east_{
  padding-right: 16px;
  border-right: none;
}
.south_{
  padding-bottom: 16px;
  border-bottom: none;
}
.west_{
  padding-left: 16px;
  border-left: none;
}
.north{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.east{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-top: 16px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.south{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.west{
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 16px;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.northe{
  padding-bottom: 16px;
  padding-left: 16px;
  border-left: none;
  border-bottom: none;
}
.northw{
  padding-bottom: 16px;
  padding-right: 16px;
  border-right: none;
  border-bottom: none;
}
.southe{
  padding-top: 16px;
  padding-left: 16px;
  border-left: none;
  border-top: none;
}
.southw{
  padding-top: 16px;
  padding-right: 16px;
  border-right: none;
  border-top: none;
}

.eastwest{
  padding-bottom: 16px;
  padding-top: 16px;
  border-top: none;
  border-bottom: none;
}
.none{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border: none;
}