.letter{
  margin: 36px 20px 20px 20px;
  float: left;
  position: relative;

}

.box{
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color:black;
  border-width: 16px;
  margin-top: -16px;
}
.diagleft::before {
  content:" ";
    width: 80px;
    height: 80px;
    border-top: 16px solid blue;
    transform:
        translateY(0px)
        translateX(-49px)
        rotate(45deg); 
    position: absolute;
}

.diagright::after {
    content:" ";
    width: 80px;
    height: 80px;
    border-top: 16px solid yellow;
    transform:
        translateY(0px)
        translateX(10px)
        rotate(-45deg); 
    position: absolute;
}

.diagboth::before {
  content:" ";
    width: 80px;
    height: 80px;
    border-top: 16px solid blue;
    transform:
        translateY(0px)
        translateX(-49px)
        rotate(45deg); 
    position: absolute;
}

.diagboth::after {
    content:" ";
    width: 80px;
    height: 80px;
    border-top: 16px solid yellow;
    transform:
        translateY(0px)
        translateX(10px)
        rotate(-45deg); 
    position: absolute;
}

.north_{
  padding-bottom: 16px;
  border-top: none;
}
.east_{
  padding-right: 16px;
  border-right: none;
}
.south_{
  padding-bottom: 16px;
  border-bottom: none;
}
.west_{
  padding-left: 16px;
  border-left: none;
}
.north{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.east{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-top: 16px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.south{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.west{
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 16px;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.northe{
  padding-bottom: 16px;
  padding-left: 16px;
  border-left: none;
  border-bottom: none;
}
.northw{
  padding-bottom: 16px;
  padding-right: 16px;
  border-right: none;
  border-bottom: none;
}
.southe{
  padding-top: 16px;
  padding-left: 16px;
  border-left: none;
  border-top: none;
}
.southw{
  padding-top: 16px;
  padding-right: 16px;
  border-right: none;
  border-top: none;
}

.eastwest{
  padding-bottom: 16px;
  padding-top: 16px;
  border-top: none;
  border-bottom: none;
}
.none{
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border: none;
}



.diag1 {
    width: 80px;
    height: 80px;
    border-top: 16px solid red;
    transform:
        translateY(0px)
        translateX(-49px)
        rotate(45deg); 
    position: absolute;
}
.diag2 {
    width: 80px;
    height: 80px;
    border-top: 16px solid red;
    transform:
        translateY(0px)
        translateX(10px)
        rotate(-45deg); 
    position: absolute;
}

.die{
  border-color: red;
}

/*for the website*/
.container{
  margin: 200px auto auto auto;
  background-color: aliceblue;
  clear: left;
}

.display{
  transform: scale(.3);
}